.upload-container {
    
    /* height: 100%;
    width: 100%; */
    position: relative;
    margin-top: 150px;
    margin-left: 300px;
}

.drag-drop-area {
    border: 5px dashed gray;
    padding: 30px;
    padding-left: 120px;
    width: 550px;
}

.drag-drop-text {
    font-size: 20px;
    overflow-x: scroll;
}

.or{
    font-size: 20px;
    margin-left: 130px;
    margin-top: 10px;
}

.select-file-btn {
    margin-left: 80px;
    font-size: 20px;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    padding-top: 8px;
    padding-left: 16px;
    width: 150px;
}

.supported-formats{
    font-size: 18px;
    color: gray;
}

.upload-btn {
    font-size: 25px;
    margin-top: 40px;
    margin-left:190px;
    background-color: lightgray;
    padding: 5px;
    width: 120px;
    padding-left: 11px;
}